header {
  position: fixed;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  padding: 0 30px;
  z-index: 99;
}
.add-user-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
}
.form-wrapper {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #ffffff;
  display: flex;
  margin: 0 auto;
  z-index: 90;
}

.form-wrapper form {
  background: #fff;
  width: 40%;
  margin: auto;
  border-radius: 6px;
  padding: 20px 5px;
  box-shadow: 0 0 10px #cccccc;
  padding: 50px 0;
}

form label {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: auto;
  padding: 5px;
}
form label input {
  height: 30px;
  width: 100%;
}
form select {
  height: 35px;
  width: 70%;
  margin: auto;
  display: block;
}
.form-btns-wrapper {
  padding-top: 25px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.form-btns-wrapper > button {
  padding: 8px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.form-btns-wrapper button:first-child {
  background-color: lightgreen;
  margin-right: 8px;
}
.form-btns-wrapper button:last-child {
  background-color: lightblue;
}
